@import "reset.css";

/* utils */
.util-ir {
  /* Image Replacement 기법을 활용해 텍스트 숨기기 */
  display: block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999px;
}

.image-upload {
  position: absolute;
  top: 77px;
  left: 149px;
}

#image-upload-input {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#image-upload-input + label {
  display: block;
  width: 185px;
  height: 54px;
  text-align: center;
  line-height: 54px;
  background: #2f90ed;
  border-radius: 10px;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

#carousel {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.carousel-cont {
  perspective: 1000px;
}

.carousel-list {
  position: relative;
  width: 348px;
  height: 348px;
  transform-style: preserve-3d;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  -webkit-box-reflect: below 35px
    linear-gradient(transparent 45%, rgba(255, 255, 255, 0.25));
}

.carousel-item img {
  display: block;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
  /* filter 속성은 브라우저 호환성이 좋지 못함 */
}

.now img {
  filter: brightness(100%);
}

/* filter 대신 가상요소로 블러처리가 가능*/
/* .carousel-item::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  z-index: 10;
} */

.prev-btn,
.next-btn {
  position: absolute;
  width: 140px;
  height: 62px;
  background: #fff;
  border: 3px solid #828282;
  border-radius: 36.5px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #828282;
  cursor: pointer;
}

.prev-btn {
  left: 149px;
}

.next-btn {
  right: 149px;
}

.prev-btn:hover,
.next-btn:hover {
  background: #828282;
  color: #fff;
}
